* {
  font-size: 18px;
  font-family: sans-serif;
  background-color: #181918;
  color: white;
  text-align: center;
}
/* Header Styles */
header {
  display:flex;
}

.logoImage {
   width:50px;
   height: 50px;
   margin: 10px;
   border-radius: 50%;
 }

 .logoImage img {
   width: 100%;
   height: 100%;
 }

.logoImage {
  flex: 10;
  height:200px;
  margin: 10px auto;
  text-align: center;
}

.logoImage img {
  width: 100%;
  height: auto;
}

nav {
  flex:1;
}

.navButton {
  text-align:right;
  color: white;
}

nav ul.menu {
  margin:0;
  padding:0;
  list-style:none;
  display:none;
  position:absolute;
  right:0px;
  text-align:right;
}

nav ul.menu li {
  color: white;
}

nav:hover ul {
  display:block;
}

nav ul.menu li:hover {
  color: gray;
  text-decoration: none;
}

nav ul.menu li:active {
  color: gray;
  text-decoration: none;
}
/* End of Header Styles */

/* Main Content Styles */
main {
  min-height:200px;
  /* border: 1px solid black; */
}

.resumeImage {
   width: 600px;
   height: auto;
   margin: 10px auto;
   border-radius: 50%;
   text-align: center;
 }

 .resumeImage img {
   width: 100%;
   height: 100%;
 }
/* End of Main Content Styles */

/* Footer Styles */
footer {
  text-align: center;
  /* background-image: url('../images/DSC_0025.jpg'); */
}

.socialMedia i {
  padding: 0 .5rem;
}
/* End of Footer Styles */

/* I had already finished the media query before turning this in, as I was having technical difficulties with a few of the previous videos */
@media screen and (min-width: 800px) {
  section {
    display:flex;
  }

  .profileImage {
    flex: 1;
    text-align:left;
  }

  .profileImage img {
    width: 90%;
  }

   .aboutMe {
     flex:1;
     padding: 30px;
   }

  footer {
    display: flex;
    /* If you want to change the footer color, the code is this...
    background-color: red;
    */
  }

  .title, .copy, .socialMedia, .contact, .nav, .logo {
    flex: 1;
  }


.copy {
  text-align:left;
}

.contact {
  text-align:right;
}
  }
