* {
  font-size: 18px;
}
/* Header Styles */
header {
  display:flex;
}

.logo {
  flex:1;
}

.name {
  flex-grow:8;
  text-align:center;
}

.navButton {
  flex:1;
  text-align:right;
}
/* End of Header Styles */

/* Main Content Styles */
main {
  min-height:200px;
  border: 1px solid black;
}

/* End of Main Content Styles */

/* Footer Styles */
footer {
  text-align: center;
  /* background-image: url('../images/DSC_0025.jpg'); */
}
/* End of Footer Styles */
