* {
  font-size: 18px;
}
/* Header Styles */
header {
  display:flex;
}

.logo {
  flex:1;
}

.name {
  flex-grow:8;
  text-align:center;
}

nav {
  position:relative;
  flex:1;
}

.navButton {
  text-align:right;
}

nav ul.menu {
  margin:0;
  padding:0;
  list-style:none;
  display:none;
  position:absolute;
  right:0px;
  text-align:right;
}

nav:hover ul {
  display:block;
}
/* End of Header Styles */

/* Main Content Styles */
main {
  min-height:200px;
  border: 1px solid black;
}

/* End of Main Content Styles */

/* Footer Styles */
footer {
  text-align: center;
  /* background-image: url('../images/DSC_0025.jpg'); */
}

.socialMedia i {
  padding: 0 .5rem;
}
/* End of Footer Styles */
